<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trodix.episodate.v2.episodateapi.persistence.mappers.SerieMapper">

    <resultMap id="result_Serie" type="Serie">
        <result property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="findAll" resultMap="result_Serie">
        SELECT id, name FROM series s
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO series (name) VALUES (#{name}) RETURNING id
    </insert>

    <update id="update">
        UPDATE series SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM series WHERE id = #{id}
    </delete>

</mapper>
